<section class="intro">
  <div class="inner">
    <div class="content">
      <h1>CHILDREN FUTURE INDIA (CFI), MUMBAI WELCOMES YOU</h1><br>
      <a class="btn1" href="/home">GET STARTED</a>
    </div>
  </div>
</section>