<section class="container-fluid main-content"> 
    <div class="flex-center">
        <div>
            <p><h4>The following chart displays the count of the total number of students currently enrolled in the organisation:</h4></p>
        </div><br><br>

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>   

        <div class="container">
            <a class="btn1" href="/phsmks">VIEW PHASE WISE MARKS</a>
            <a class="btn1" href="/stdmks">VIEW STANDARD WISE MARKS</a>
        </div>     
    </div>
</section>